#letter-box-empty {
    -fx-border-color: "#bbbbbb";
    -fx-border-width: 2;
    -fx-label-padding: -4;
}

#letter-box-filled {
    -fx-border-color: "#787c7f";
    -fx-border-width: 2;
    -fx-label-padding: -4;
}

#letter-box-correct-location {
    -fx-background-color: "#6ca965";
    -fx-border-color: "#6ca965";
    -fx-border-width: 2;
    -fx-label-padding: -4;
}

#letter-box-wrong-location {
    -fx-background-color: "#c8b653";
    -fx-border-color: "#c8b653";
    -fx-border-width: 2;
    -fx-label-padding: -4;
}

#letter-box-wrong-letter {
    -fx-background-color: "#787c7f";
    -fx-border-color: "#787c7f";
    -fx-border-width: 2;
    -fx-label-padding: -4;
}

#keyboard-button, #backspace-button {
    -fx-background-color: "#d3d6da";
}

#keyboard-button-correct-location {
    -fx-background-color: "#6ca965";
}

#keyboard-button-wrong-location {
    -fx-background-color: "#c8b653";
}

#keyboard-button-wrong-letter {
    -fx-background-color: "#787c7f";
}

#backspace-button {
    -fx-graphic: url(backspace.png);
}

#popup-label {
    -fx-background-color: "#000000";
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#help-pane {
    -fx-background-color: "#ffffff";
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}